[Unit]
Description=Refresh cloud beta every five minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=5s
RandomizedDelaySec=0
Persistent=true
Unit=sb-live-lapse-beta.service

[Install]
WantedBy=timers.target
